@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
   font-family: 'Roboto', sans-serif;
   background: #F3F3F3;
}

nav {
    position: fixed;
}

.header { 
    width: 14em; 
    float: left;
}

.title { 
    padding-left: 50px; 
    padding-right: 50px;
    line-height:50px; 
    font-size: 1.75em; 
    font-weight: 500;
    margin-bottom: 40px;
}

.container {
   width: 1024px;
   padding-left: 12px;
   padding-right: 12px;
   margin-left: auto;
   margin-right: auto
}

.article-head h1 {
   text-align: center;
   margin: 60px 0;
   font-size: 2.4em;
   font-weight: 700;
}

.article-head img,
.article-body img {
   max-width: 100%
}

.article-body > * {
   padding: 20px 120px
}

.article-body > figure {
   padding: 0;
   margin: 0 0 50px 0;
  
}

.article-body > img {
   padding: 0
}

.article-body h2 {
   font-size: 1.8em;
   font-weight: 600;
   padding: 20px 0;
}

.article-body h3 {
   font-size: 1.2em;
   padding: 15px 0;
}

.article-body p {
   font-weight: 400;
   line-height: 2em;
   font-size: 1.1em;
   padding: 9px 0;
}

.article-body hr {
   margin: 50px 0 50px 0;
   opacity: 0
}

.article-body ul li {
   list-style-type: circle;
   padding: 5px 0;
   font-size: 1.1em;
}

.article-body ol li {
   list-style-type: decimal;
   padding: 5px 0;
   font-size: 1.1em;
}

nav ul { 
    padding-left: 50px;
    list-style:none; 
}

.header li { 
    height:50px; 
    line-height:50px; 
    font-size:1.1em; 
    font-weight:400;
}

.header li a {
    color:#000000; 
    text-decoration:none
}

.header li.on a {
    color:#DB5F42;
}

main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-gap: 1.25em;
    margin-left: 16em;
    margin-right: 5em;
}

img {
    border: 0;
    width: 100%;
    border-radius: .3em;
} 

img:hover {
    transition: opacity .5s ease-in-out;
}

.content{
    position:relative;
}

.content .content-overlay {
    background: rgba(255,255,255,0.6);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    margin:0;
    padding:0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: .3em;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
    height:100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding: 0 1rem;
    width: 100%;
    top: 40%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h2{
    color: #000000;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.content-details p{
    color: #000000;
    font-size: 1rem;
}

footer {
    margin-top: 90px;
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
}

footer a {
    color: #666;
    margin-right: 9px;
    text-decoration: none;
}

@media (max-width: 1280px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 12em;
    margin-right: 3em;
}
  .title { 
    padding-left: 30px; 
    padding-right: 30px;
}
  nav ul { 
    padding-left: 30px;
}
  .container {
    width: 100%;
}
  .article-head h1 {
  font-size: 1.8em;
  font-weight: 600;
}
  .article-body h2 {
  font-size: 1.4em;
}

}

@media (max-width: 800px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 9em;
    margin-right: 1em;
}
  .header { 
    width: 9em; 
}
  .title { 
    font-size: 1.75em; 
    line-height: 50px;
    padding-left: 10px; 
    padding-right: 10px;
}
  nav ul { 
    padding-left: 10px;
}
  .article-head h1 {
    font-size: 1.4em;
}
  .article-body h2 {
    font-size: 1.2em;
}
}

@media (max-width: 600px) {
  main {
    margin-top: 40px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 4.8em;
    margin-right: .3em;
}
  .header { 
    width: 4.5em; 
}
  .title { 
    font-size: 1.1em; 
    line-height: 30px; 
    padding-left: 0px; 
    padding-right: 0px;
}
  nav ul { 
    padding-left: 0px;
}
  .header li { 
    height: 40px; 
    line-height: 0px; 
    font-size: 1em; 
    font-weight: 400;
}
}

@media (prefers-color-scheme: dark) {
    
    body {
    background-color: #000;
    color: #f0f0f0;
  }
    
    .header li a {
    color:#f0f0f0; 
}
    
    .header li.on a {
    color:#EB6838;
}
    
    .content-details h2{
    color: #f0f0f0;
}

    .content-details p{
    color: #f0f0f0;
}

    .footer a {
    color: #f0f0f0;
}
    img {
    opacity: .95;
  }
    
    img:hover {
    opacity: .5;
}
    
    .content .content-overlay {
    background: rgba(0,0,0,0.6);
}


}